@keyframes cursorAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes changeColor {
    0% {
        color: rgb(63, 63, 63);
    }
    50% {
        color: #0ADB81;
    }
    100% {
        color: rgb(63, 63, 63);
    }
}

@keyframes ramJump {
    0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-40px);
		transform: translateY(-40px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}