@keyframes cursorAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes changeColor {
    0% {
        color: rgb(63, 63, 63);
    }
    50% {
        color: #0ADB81;
    }
    100% {
        color: rgb(63, 63, 63);
    }
}