* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: black;
    cursor: none;
    font-family: 'Cygre', 'Grid Type';
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

}
.customCursor {
     position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 10000;
}
.customCursor2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: white;
    pointer-events: none;
    transition: transform 1s ease, background-color 0.3s ease, transform 0.07s ease;
    z-index: 10000;
    mix-blend-mode: difference;
}
.hoverCursor {
    transform: rotate(45deg);
}


/* задний фон */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 3325px;
    opacity: 0.2;
    z-index: -2;
}

a{
    text-decoration: none;
    color: white;
    cursor: none;
    transition: 0.3s all ease-in-out;
}

/* шапка */
.header {
    width: 100%;
    height: 5.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

.header .baa {
    font-family: 'Grid Type';
    font-size: 2.5vw;
    padding: 1.5vw 2vw;
    color: white;
    user-select: none;
}

#text1, #text2, #text3, #text4, #text5 {
    font-family: 'Cygre';
    font-size: 1.5vw;
    color: white;
    opacity: 1;
    padding-left: 2vw;
    transition: 0.3s all ease-in-out;
    user-select: none;
}

#text1:hover, #text2:hover, #text3:hover, #text4:hover, #text5:hover {
    opacity: 0.4;
}

#text1 {
    margin-left: 2.4vw;
    font-size: 1.8vw;
}

#text2 {
    margin-left: 10.4vw;
}

.eyeMouse {
    width: 4.5vw;
    height: 2.4vw;
    background-color: #0ADB81;
    margin-left: 15vw;
    align-content: center;
}

#eye {
    width: 2.25vw;
    height: 1.2vw;
    background-color: black;
    margin-left: 1.1vw;
}

.glassmorph {
    height: 5.5vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(5px);
    backdrop-filter: blur(8px);
    position: absolute;
    overflow: hidden;
    top: 0vw;
    z-index: -1;
}

/* первый экран */
.firstScreen {
    width: 100%;
    height: 46vw;
    display: flex;
    flex-direction: row;
}

.content_1 {
    width: 31vw;
    height: 42vw;
    user-select: none;
}

.content_2 {
    width: 37vw;
    height: 42vw;
    user-select: none;
}

.content_3 {
    width: 31vw;
    height: 42vw;
    user-select: none;
}

#main {
    font-family: 'Cygre';
    font-size: 1.3vw;
    color: white;
    padding-left: 2.1vw;
    padding-top: 7.3vw;
    user-select: none;
}

#text6, #text7, #text8, #text9 {
    font-family: 'Cygre';
    font-weight: 600;
    font-size: 2.6vw;
    color: white;
    opacity: 1;
    padding-left: 6vw;
    padding-top: 1.25vw;
    transition: 0.3s all ease-in-out;
    user-select: none;
}

#text6:hover, #text7:hover, #text8:hover, #text9:hover {
    opacity: 0.4;
    color: #0ADB81;
}

#text6 {
    margin-top: 11vw;
}

#ramBack {
    background-size: contain;
    position: absolute;
    width: 50vw;
    left: 25vw;
}

#littleRam {
    position: absolute;
    top: 24vw;
    left: 92vw;
    opacity: 1;
    z-index: -1;
    user-select: none;
}

#time {
    font-family: 'Cygre';
    font-size: 1.3vw;
    color: white;
    padding-left: 24.5vw;
    padding-top: 7.3vw;
    user-select: none;
}

.secondScreen {
    width: 100%;
    height: 11vw;
    user-select: none;
}

.content_4 {
    width: 100%;
    height: 11vw;
    padding-left: 1.8vw;
    padding-right: 1.5vw;
    padding-top: 1.6vw;
    display: flex;
    flex-direction: row;
}

#text10 {
    font-family: 'Grid Type';
    font-size: 7.59vw;
    color: white;
    user-select: none;
}

#text11 {
    font-family: 'Grid Type';
    font-size: 7.59vw;
    color: rgb(63, 63, 63);
    user-select: none;
    padding-left: 4vw;
    animation: changeColor 1.5s linear infinite;
}

.thirdScreen {
    width: 100%;
    height: 70vw;
    user-select: none;
}

.content_5 {
    width: 100%;
    height: 4vw;
    gap: 1vw;
    display: flex;
    flex-direction: row;
}

#shop {
    font-family: 'Cygre';
    font-size: 1.3vw;
    color: white;
    padding-left: 2.1vw;
    padding-top: 1.5vw;
    user-select: none;
}

#arrow {
    height: 2vw;
    width: 2vw;
    margin-top: 2vw;
}

.content_6 {
    width: 100%;
    height: 32vw;
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 1vw;
    gap: 3vw;
    display: flex;
    flex-direction: row;
    background-size: contain;
}

#ramHelper {
    position: absolute;
    width: 11vw;
    top: 84.5vw;
    left: 21.5vw;
    animation: ramJump 1s linear infinite;
    animation-play-state: paused;
}

#ramHelper:hover {
    animation-play-state: running;
}

.content_7 {
    width: 100%;
    height: 32vw;
}

.forthScreen {
    width: 100%;
    height: 50vw;
    user-select: none;
}

.content_8 {
    width: 100%;
    height: 4vw;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    margin-top: 0.8vw;
}

#offering {
    font-family: 'Cygre';
    font-size: 1.3vw;
    color: white;
    padding-left: 2.1vw;
    padding-top: 1.5vw;
    user-select: none;
}

#arrow {
    height: 2vw;
    width: 2vw;
    margin-top: 2vw;
}

.content_9 {
    width: 100%;
    height: 32vw;
    padding-left: 3.5vw;
    padding-right: 0vw;
    padding-top: 2vw;
    margin-top: 1.5vw;
    gap: 4.5vw;
    display: flex;
    flex-direction: row;
    background-size: contain;
}

#offer1 {
    height: 92%;
}

#offer2 {
    height: 92%;
}

#offer3 {
    height: 92%;
}

.content_10 {
    width: 100%;
    height: 7vw;
    gap: 1vw;
    display: flex;
    flex-direction: row;
}

#text12, #text13, #text14 {
    font-family: 'Cygre';
    font-weight: 600;
    font-size: 2.2vw;
    color: white;
    user-select: none;
}