* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: black;
    cursor: url('../images/cursor.svg') 2 2, default;
    font-family: 'Cygre', 'Grid Type';

}


/* задний фон */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 3325px;
    opacity: 0.2;
    z-index: -2;
}

.header {
    margin: 1.5vw 2vw;
}

.header .baa {
    font-family: 'Grid Type';
    font-size: 2.5vw;
    color: white;
}

